@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   * {
      @apply p-0 m-0 font-sans box-border
   }

   body {
      @apply w-full h-full bg-slate-50 
   }
}

@layer base {
   :root {
      --color-backgrounnd-glass1: #e7dddd23;
      --color-backgrounnd-glass2: #ffffff2d;
      --color-text-blue: #250178;
   }
}

@layer components {
   .main-sections {
      @apply h-[82.5vh] flex flex-col p-4 pt-6 text-center text-skin-main md:h-[93.7vh] md:w-[158rem] overflow-y-scroll scrollbar-webkit outline-none
   }

   .shadow-main {
      @apply shadow-[4px_4px_56px_rgba(0,0,0,0.3)]
   }

   .shadow-item {
      @apply shadow-[1px_1px_6px_rgba(0,0,0,0.1)]
   }
}